$card-front-color: #426efe;
$card-back-color: #848484;
$speed: 750ms;

.user-card {
  perspective: 1000px;
  .user-card-top, .user-card-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;
  }

  .user-card-top {
      border-radius: 5px 5px 0 0;
      width: 100%;
      height: 100px;
      position: relative;
      transform-style: preserve-3d;
      
      .user-name {
          position: absolute;
          top: 0;
          padding: 1em;
          margin: 0;
          font-size: 22px;
      }
      .user-edit{
          position: absolute;
          top: 0;
          padding: 0.5em;
          width: 38px;
          svg {
              fill: white;
              width: 35px;
              height: 35px;
          }
      }

      .user-cancel, .user-save {
          position: absolute;
          top: 0;
          padding: 0.5em;
          width: 20px;
          svg {
              fill: white;
              width: 20px;
              height: 20px;
          }
      }

      .user-edit, .user-cancel{
        left: 0;
      }

      .user-save{
        right: 0;
      }
      .user-image-container{
        transform: translateZ(1em) scale(0.9);
      .user-image {
          border-radius: 100%;
          border: 5px solid white;
          position: relative;
          top: 6em;
          box-shadow: 0 1px 20px 2px rgba(0,0,0,0.25);
          
      }
      }
  }

  .user-card-bottom {
      display: flex;
      justify-content: flex-end;
      height: 180px;
      padding: 1em;
      font-family: Times;
      font-size: 100%;
      color: #999;

      .field {
          width: inherit;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;
          padding: 0.25em;
      }
      .user-email {
          text-transform: initial;
      }
  }

  .user-card-front, .user-card-back{
    
    background: white;
    box-shadow: 0 3px 15px -1px rgba(0,0,0,0.15);
    border-radius: 5px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    position: relative;
    backface-visibility: hidden;
    text-align: center;
    transition: transform $speed;
    transform-style: preserve-3d;

  }

  .user-card-front{

    .user-card-top {
      background: $card-front-color;
      color: white;
    }
  }

  .user-card-back{
    
    .user-card-top {
      background: $card-back-color;
      color: white;
    }

    .user-card-bottom{
      justify-content: space-between;
    }

    top: 0;
    position: absolute;
    transform: rotateY(180deg);

    .user-name {
          position: relative;
          top: 0;
          padding: 1em;
          margin: 0;
          font-size: 22px;
      }
  }

  &.active{
    .user-card-front{
      transform: rotateY(-180deg);
    }
    .user-card-back{
      transform: rotateY(0deg);
      // display: none;
    }
  }
}