/* TV */
@media only screen and (min-width : 1025px) {
  .user-card{
    width: 22%;
    margin: 1%;
  }
}

/* Desktop */
@media only screen and (max-width : 1024px) {
  .filter-container{
    margin-bottom: 1em;
  }
  .user-card{
    width: 30%;
    margin: 1%;
  }
}

/* Tablet */
@media only screen and (max-width : 768px) {

  input[type=search], 
  select{
    width: 47%;
  }

  .filter-container{
    margin-bottom: 0.5em;
  }
  .user-card{
    width: 47%;
    margin: 1%;
  }
}

/* Mobile */
@media only screen and (max-width : 320px) {
  
  header.filter-container .filter-fields{
    flex-direction: column;
    input[type=search]{
      margin-bottom: 0.25em;
    }
  }

  input[type=search], 
  select{
    width: 100%;
  }

  .filter-container{
    margin-bottom: 0em;
  }
  .user-card{
    width: 100%;
    margin: 2%;
  }
}




